@import url(https://fonts.googleapis.com/css?family=Roboto:400,500);

.login-page {

  margin-top: 2rem;

  .login-container {
    margin: 0 auto;
  }

  .mdl-card__title {
    background-color: #c4c4c4;
  }

  .mdl-textfield {
    width: 100%;
  }
}

.form-panel {
  .mdl-button--file {
    input {
      cursor: pointer;
      height: 100%;
      right: 0;
      opacity: 0;
      position: absolute;
      top: 0;
      width: 300px;
      z-index: 4;
    }
  }

  .mdl-textfield--file {
    .mdl-textfield__input {
      box-sizing: border-box;
      width: calc(100% - 32px);
    }
    .mdl-button--file {
      right: 0;
    }
  }

  .mdl-cell {
    .mdl-card__supporting-text {
      overflow: visible;
    }
  }
}

.crm {
  .mdl-data-table {
    margin: 1rem;

    td {
      font-size: 0.8rem;
    }
  }

  .brand-logo {
    width: 95%;
  }

  .mdl-card {
    width: 100%;
    position: unset;

    .mdl-card__title {
      background-color: #1d78c4;
      color: #ffffff;
    }
  }

  .table-container {

    table {
      width: 100%;
    }

    .mdl-data-table td:first-of-type {
      padding: 0;
    }

    .mdl-data-table td:first-of-type, .mdl-data-table th:first-of-type {
      padding-left: 0.1rem;
    }

    .mdl-data-table td {
      padding-left: 0.1rem;
    }

    .mdl-card__supporting-text {
      padding: 0;
      width: 100%;
    }

    .mdl-data-table {
      margin: 0;
    }

    ul {
      li {
        list-style: none;
        border-radius: 6rem;
        border: 1px solid #00ffe4;
        background-color: #00ffe4;
        padding: 0;
        text-align: center;
        line-height: 3rem;
        margin: 1rem -4rem 1rem 6rem;
        width: 3rem;
      }
    }

      ul.result {
          li {
              float: left;
              display: inline;
              margin: 2px;
              line-height: 2rem;
              width: 2rem;
          }
      }

    .extra_ball {
      border-radius: 6rem;
      border: 1px solid #ff431a;
      background-color: #ff431a;
      padding: 0.5rem;
    }

    .additional_game {
      font-size: 1rem;
        width: 50%;
    }
  }
    .pagination-container{
        .pagination{

            a {
                text-decoration: none;
            }

            span{
                height: 30px;
                width: 30px;
                color: rgba(0,0,0,.5);
                transition: color 2s;
                cursor: pointer;
                display: inline-block;
                line-height: 30px;
            }
            span.active{
                background: #2196F3;
                border-radius: 50%;
                color: white;

                a {
                    color: #ffffff;
                }
            }
            span.active:hover{
                color: white;
            }
            span:hover{
                color: rgba(0,0,0,1);
                transition: color 2s;
            }
            span:first-child{
                margin-left: 10px;
            }
            span:last-child{
                margin-right: 10px;
            }
            font-size: 20px;
            text-align: center;
        }
        width: 960px;
        margin-left: auto;
        margin-right: auto;
        left: 0;
        right: 0;
        bottom: 30px;
        position: absolute;
        font-family: 'Roboto', sans-serif;
    }

    #bet_search {
        .mdl-textfield {
            width: 17%;
        }
    }

    .show-header {
        -webkit-box-shadow: 0px 2px 4px 1px rgba(0,0,0,0.33);
        -moz-box-shadow: 0px 2px 4px 1px rgba(0,0,0,0.33);
        box-shadow: 0px 2px 4px 1px rgba(0,0,0,0.33);
        padding: 1rem;
        font-size: 22px;

        .item {
            display: inline;
            float: left;
            margin: 1rem;
            width: (100% / 5);
        }

        div.status {
            .status-selector {
                float: right;
            }
            span {
                width: 20%;
                font-size: 18px;
                float: left;
            }

            select {
                width: 130px;
            }
        }
    }

    .crm-list {
        min-width: 10%;
        width: 100%;
        padding: 1rem;

        .item {
            width: 100%;
            min-height: 20px;
            display: block;
            .label {
                width: 50%;
                display: inline;
                float: left;
                justify-content: right;
                text-align: right;
            }
            .caption {
                width: 50%;
                display: inline;
                justify-content: left;
                text-align: left;
                padding-left: 1rem;
            }
        }
    }
}
