.login-page {
  margin-top: 2rem;
}

.login-page .login-container {
  margin: 0 auto;
}

.login-page .mdl-card__title {
  background-color: #c4c4c4;
}

.login-page .mdl-textfield {
  width: 100%;
}

.form-panel .mdl-button--file input {
  cursor: pointer;
  height: 100%;
  right: 0;
  opacity: 0;
  position: absolute;
  top: 0;
  width: 300px;
  z-index: 4;
}

.form-panel .mdl-textfield--file .mdl-textfield__input {
  box-sizing: border-box;
  width: calc(100% - 32px);
}

.form-panel .mdl-textfield--file .mdl-button--file {
  right: 0;
}

.form-panel .mdl-cell .mdl-card__supporting-text {
  overflow: visible;
}

.crm .mdl-data-table {
  margin: 1rem;
}

.crm .mdl-data-table td {
  font-size: 0.8rem;
}

.crm .brand-logo {
  width: 95%;
}

.crm .mdl-card {
  width: 100%;
  position: unset;
}

.crm .mdl-card .mdl-card__title {
  background-color: #1d78c4;
  color: #ffffff;
}

.crm .table-container table {
  width: 100%;
}

.crm .table-container .mdl-data-table td:first-of-type {
  padding: 0;
}

.crm .table-container .mdl-data-table td:first-of-type,
.crm .table-container .mdl-data-table th:first-of-type {
  padding-left: 0.1rem;
}

.crm .table-container .mdl-data-table td {
  padding-left: 0.1rem;
}

.crm .table-container .mdl-card__supporting-text {
  padding: 0;
  width: 100%;
}

.crm .table-container .mdl-data-table {
  margin: 0;
}

.crm .table-container ul li {
  list-style: none;
  border-radius: 6rem;
  border: 1px solid #00ffe4;
  background-color: #00ffe4;
  padding: 0;
  text-align: center;
  line-height: 3rem;
  margin: 1rem -4rem 1rem 6rem;
  width: 3rem;
}

.crm .table-container .extra_ball {
  border-radius: 6rem;
  border: 1px solid #ff431a;
  background-color: #ff431a;
  padding: 0.5rem;
}

.crm .table-container .additional_game {
  height: 40px;
  padding-top: 2rem;
  font-size: 1rem;
}

